body {
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 80px;
  font-family: "Poppins", sans-serif;

  letter-spacing: 4.8px;

  margin-top: 88px;
}

/* Barre nav */
.banner {
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.banner h1 {
  color: #ffffff;
}

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-btn {
  width: 73px;
  height: 21px;
  border-radius: 19px;
  color: white;
  font-size: 10px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btnnav2 {
  border-color: white;
  border: 1px solid #ffffff;
  background: transparent;
  margin-left: 20px;
}

/* S'inscire */
.btnnav1 {
  border: none;
  background-color: #d52200;
}

.btnnav1:hover {
  color: #ffffff;
}

/* page login  */
/* page sign up  */

.inscriptionContent {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.headerTitleTable {
  width: 100%;
  text-align: center;
  color: #d52200;
  margin: 30px auto;
}

.headerTitleSelected {
  border-bottom: solid 1px #d52200;
}

.myInput {
  border: none;
  border-bottom: 1px #d52200 solid;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 400px;
}

.myInput:focus {
  border: none;
  border-bottom: 1px #d52200 solid;
}

/* Se connecter */
.btnnav2:hover {
  background-color: #d52200;
  color: white;
  border: none;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.login-title {
  padding-left: 100px;
}

/* Iôcone - nav */

.nav-item {
  list-style-type: none;
}

.nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-item .nav-link .nav-link-icon {
  width: 31px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* profile */
.nav-item.profile .nav-link .nav-link-icon {
  background-image: url("../icons/Groupe\ 128.svg");
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-item.profile .nav-link:hover .nav-link-icon {
  background-image: url("../icons/profile-outline.svg");
}

/* favorite */
.nav-item.favorites .nav-link .nav-link-icon {
  background-image: url("../icons/favoris-inline.svg");
}

.nav-item.favorites .nav-link:hover .nav-link-icon {
  background-image: url("../icons/favoris-outline.svg");
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* commerce */
.nav-item.commerces .nav-link .nav-link-icon {
  background-image: url("../icons/commerce-inline.svg");
}

.nav-item.commerces .nav-link:hover .nav-link-icon {
  background-image: url("../icons/commerce-outline.svg");
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.input-group {
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Barre de recherche */
.search-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* icône barre de recherche */
.localisation {
  width: 11px;
  height: 11px;
  position: absolute;
  left: 21px;
}

.form-inline {
  padding-top: 245px;
}

.form-inline input {
  background-color: #fff7f7be;
  border-radius: 33px;
  padding-left: 105px;
  width: 227px;
  height: 31px;
}

.form-inline input::-webkit-input-placeholder {
  font-size: 10px;
}

.form-inline input::-moz-placeholder {
  font-size: 10px;
}

.form-inline input:-ms-input-placeholder {
  font-size: 10px;
}

.form-inline input::-ms-input-placeholder {
  font-size: 10px;
}

.form-inline input::placeholder {
  font-size: 10px;
}

.boutoncommerce {
  width: 117px;
  height: 31px;
  background: #d52200 0% 0% no-repeat padding-box;
  border-radius: 33px;
  border: none;
  color: white;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-size: 10px;
}

.boutoncommerce:hover {}

h2 {
  color: #d52200;
  margin-top: 100px;
  font-size: 14px;
}

.fonction-titre {
  font-size: medium;
  text-align: center;
  margin-top: 2rem;
}

.mission .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logopc {
  width: 90px;
  height: 35px;
}

.commerce {
  width: 235px;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sac {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.yummy {
  width: 230px;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.zerowaste {
  width: 200px;
  height: 200px;
}

.bg-section-grey {
  background-color: #f7f7f7;
  padding-top: 80px;
  padding-bottom: 80px;
}

.rec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

section.section-main {
  margin-bottom: 100px;
}

.textemission {
  text-align: left;
}

header {
  background-color: #a6b55e;
  height: 48px;
  padding-right: 10px;
}

header .nav-link {
  color: #ffffff;
}

header .nav-link:hover {
  color: white;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-logo img {
  width: 166px;
  height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  background-color: #a6b55e;
  display: block;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer li {
  margin-top: 5px;
}

footer ul li a {
  text-decoration: none;
  color: #000000;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

footer h4 {
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.36px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer .icones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.insta {
  width: 38px;
  height: 38px;
}

.linkedin {
  width: 38px;
  height: 38px;
}

.facebook {
  width: 38px;
  height: 38px;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  font-size: 12px;
}

/* Page profil */

.femme {
  width: 206px;
  height: 218px;
  display: block;
  margin: auto;
}

.prenom {
  text-align: center;
  text-transform: uppercase;
}

.emailprofil {
  color: #a5a1a1;
  text-align: center;
  margin-bottom: 72px;
}

.infosprofil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 4rem;
  -moz-column-gap: 4rem;
  column-gap: 4rem;
  margin-bottom: 40px;
}

.profile-input {
  width: 431px;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 50px;
  border-radius: 19px;
  background-color: #faf5f6;
  border: none;

  /* align-content: center; */
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.infosprofil span {
  color: #d52200;
}

.profile-input-icon {
  position: absolute;
  left: 10px;
}

.boutondeconnexion {
  width: 214px;
  height: 47px;
  border: 1px solid #d52200;
  border-radius: 19px;
  background: transparent;
  color: black;
  margin-left: 80%;
  margin-bottom: 50px;
  margin-top: 70px;
}

.boutondeconnexion:hover {
  background: #d52200 0% 0% no-repeat padding-box;
  border-radius: 19px;
  border: none;
  color: white;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* Page Commerces */
/* background */
.bannercommerce {
  width: auto;
  height: 375px;
}

/* barre de recherche */

.search-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-inline {
  padding-top: 150px;
}

.panier {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 16px;
  top: 4px;
}

.form-inline3 {
  padding-top: 180px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -120px;
}

.search-container3 {
  margin: auto;
  position: relative;
}

.form-inline3 input {
  width: 318px;
  background-color: #fff7f7be;
  border-radius: 15px;
  height: 40px;
  padding-left: 70px;
}

.fav-icon {
  background-image: url("../icons/fav-vide.svg");
}

.fav-icon:hover {
  background-image: url("../icons/fav-rempli.svg");
}

.card {
  text-decoration: none;
  border: none;
}

.card-title {
  color: black;
  font-size: 17px;
}

.card-body {
  padding: 10px 0 0 0;
}

.card-specialites {
  color: #cbc5c5;
  font-size: 15px;
}

.card-distance {
  color: #cbc5c5;
  padding: 0;
  font-size: 15px;
}

.card-img-top {
  height: 205px;
  -o-object-fit: cover;
  object-fit: cover;
}

.card p {
  margin-bottom: 0;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px auto 250px;
}


/* Page Favorites */

.fav-title {
  padding-left: 100px;
}

.shopsContent {
  margin: auto;
  width: 90%;
  background-color: white;
}

.shopsContent li {
  display: inline-block;
  padding: 20px;
}

.searchContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.searchContent div img {
  width: 28px;
  height: 28px;
}

.searchContent div select {
  border: 0px;
}

.searchContent div select:active {
  border: 0px;
}

.searchContent div select:enabled {
  border: 0px;
}

.headFavorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 70%;
}

/* Page legal */
#legal-page {
  margin-bottom: 100px;
}

#legal-page h2 {
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.5px;
  color: #d42200;
  margin-bottom: 22px;
  margin-top: 50px;
}

#legal-page .infos-table {
  max-width: 900px;
}

#legal-page .infos-table-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #000;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 70px;
}

#legal-page .infos-table-row p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.4px;
}

#legal-page .infos-table-row .infos-table-title {
  color: #d52200;
}

#legal-page .question,
#legal-page .answer,
#legal-page em {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0px;
  margin-bottom: 10px;
}

#legal-page .question {
  color: #d52200;
  margin-top: 10px;
}

#legal-page ul {
  list-style-type: none;
  padding-left: 0;
}

/* Single post  */
#single-post h2 {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #000000;
}

#single-post .store-opening {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4px;
  color: #506a40;
  margin-bottom: 28px;
  text-transform: uppercase;
}

#single-post .store-products {
  margin-bottom: 56px;
}

#single-post .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

#single-post .section-title img {
  width: 14px;
}

#single-post .section-title h3 {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4px;
  margin-bottom: 0;
}

#single-post .store-products-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
  -moz-column-gap: 14px;
  column-gap: 14px;
  margin-top: 24px;
}

#single-post .store-product-card img {
  width: 147px;
  height: 98px;
  -o-object-fit: cover;
  object-fit: cover;
}

#single-post .store-product-card p {
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.36px;
  margin: 6px 0 0;
}

#single-post .store-map {
  margin: 17px auto 105px;
  margin-right: ;
}


@media screen and (min-width: 768px) {
  .nav {}

  .card-container {
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .logopc {
    width: 180px;
    height: 71px;
  }

  .nav-btn {
    width: 200px;
    height: 42px;
    font-size: 18px;
  }

  header {
    height: 71px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 25px;
  }

  .localisation {
    width: 28px;
    height: 28px;
  }

  .form-inline input {
    width: 746px;
    height: 65px;
  }

  .form-inline input::-webkit-input-placeholder {
    font-size: 19px;
  }

  .form-inline input::-moz-placeholder {
    font-size: 19px;
  }

  .form-inline input:-ms-input-placeholder {
    font-size: 19px;
  }

  .form-inline input::-ms-input-placeholder {
    font-size: 19px;
  }

  .form-inline input::placeholder {
    font-size: 19px;
  }

  .boutoncommerce {
    width: 201px;
    height: 65px;
    font-size: 15px;
  }

  .card-container {
    -ms-grid-columns: (1fr) [4];
    grid-template-columns: repeat(4, 1fr);
  }

  /* Page legal */
  #legal-page h2 {
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-bottom: 84px;
    margin-top: 100px;
  }

  #legal-page .infos-table-row p {
    font-size: 20px;
    line-height: 27px;
  }

  #legal-page .question,
  #legal-page .answer,
  #legal-page em {
    line-height: 27px;
    margin-bottom: 25px;
  }

  #legal-page .question {
    font-size: 17px;
    margin-top: 25px;
  }

  #legal-page em,
  #legal-page .answer {
    font-size: 17px;
  }

  /* Single post  */
  #single-post h2 {
    font-size: 25px;
    line-height: 33px;
  }

  #single-post .store-opening {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 22px;
  }

  #single-post .store-products {
    background-color: #f7f7f7;
    padding: 58px 0 82px;
    margin-bottom: 41px;
  }

  #single-post .section-title {
    -webkit-column-gap: 12px;
    -moz-column-gap: 12px;
    column-gap: 12px;
  }

  #single-post .section-title img {
    width: 26px;
  }

  #single-post .section-title h3 {
    font-size: 20px;
    line-height: 23px;
  }

  #single-post .store-products-cards {
    -webkit-column-gap: 88px;
    -moz-column-gap: 88px;
    column-gap: 88px;
    margin-top: 29px;
  }

  #single-post .store-product-card img {
    width: 330px;
    height: 225px;
  }

  #single-post .store-product-card p {
    font-size: 18px;
    line-height: 25px;
    margin: 12px 0 0;
  }

  #single-post .store-map {
    margin: 73px auto 130px;
  }
}